body{
    padding: 0;
    margin: 0;
    height: 100vh;
    justify-self: center;
    background-color:#E8EEF1;
}
.section{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    background-color: #CFDCFF;
    width: 100vw;
    height: 500px;
    /* border-radius: 12px; */
    overflow: hidden;
}
.slide{
    width:500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
    transition: 1s;
}
/* .st img{
    width: 800px;
    height: 500px;
} */
.nav-m{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid #3D4B91;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    align-items: center;
}
.m-btn:not(:last-child){
    margin-right: 30px;

}
.m-btn:hover{
    background-color: #3D4B91;
}
#radio1:checked ~.first{
    margin-left: 0%;
}
#radio2:checked ~.first{
    margin-left: -20%;
}
#radio3:checked ~.first{
    margin-left: -40%;
}
.nav_auto{
    position: absolute;
    width: 800px;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}
.nav_auto div{
    border: 2p solid #3D4B91;
    padding: 5  px;
    border-radius: 10px;
    transition: 0.3s;
}
.nav_auto div:not(:last-child){
    margin-right: center;
    justify-content: center;
}
#radio1:checked ~.nav_auto .a-b1{
    background-color: #3D4B91;
    
}
#radio1:checked ~.nav_auto .a-b2{
    background-color: #3D4B91;

}
#radio1:checked ~.nav_auto .a-b3{
    background-color: #3D4B91;

}
.my-slider{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    margin: 1rem;
    opacity: 1; 
}


.event_desc{
    margin-left: 5rem;
    font-size: large;
}
.shape{
    margin-right: -15%;
    width: 50%;
    height: 500px;

}
.event_img{
   -webkit-mask-image: url(
    data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01MS4xLC01NS4yQzY3LjUsLTQ3LjIsODIuNywtMzIuMyw4Mi40LC0xN0M4Mi4xLC0xLjgsNjYuMiwxMy42LDU1LjUsMzEuOUM0NC44LDUwLjEsMzkuMiw3MS4yLDI1LjEsODJDMTEsOTIuOCwtMTEuNiw5My4zLC0yNyw4My42Qy00Mi40LDczLjksLTUwLjcsNTMuOSwtNTcuNiwzNi4xQy02NC41LDE4LjIsLTcwLDIuNSwtNjkuMSwtMTMuOEMtNjguMSwtMzAsLTYwLjcsLTQ2LjcsLTQ4LjEsLTU1LjNDLTM1LjUsLTYzLjksLTE3LjcsLTY0LjUsLTAuMiwtNjQuM0MxNy40LC02NC4xLDM0LjgsLTYzLjIsNTEuMSwtNTUuMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K
    );
   -webkit-mask-repeat: no-repeat;
    width: 100%;
   
}
.semaine_tag{
    color: #0b1bcf;
    position: left;
}
.slider_container{
    padding: 1rem;
     background-color:#CFDCFF;
 
}
.my-sliders{
   
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
    margin: 1rem;
    opacity: 1; 
}
.shapee{
    width: 50%;

}
.event_infos{
    font-size: 1.5rem;
}
.event_info p{  
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.eventt{
    border-radius: 12px;
    width: 100%;
   
}






/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
body{
background-color: #E8EEF1;
}
main{
    overflow: hidden;
}

section{
    margin-bottom: 2rem;
}

.my-slider{
    display: flex;
     flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items:center;
    margin: 0 auto;
     margin: 1rem;
     opacity: 1; 
}


.event_desc{
    margin-left: 5rem;
    font-size: large;
}
.shape{
    margin-right: -15%;
    width: 50%;

}
.event_img{
   -webkit-mask-image: url(
    data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik01MS4xLC01NS4yQzY3LjUsLTQ3LjIsODIuNywtMzIuMyw4Mi40LC0xN0M4Mi4xLC0xLjgsNjYuMiwxMy42LDU1LjUsMzEuOUM0NC44LDUwLjEsMzkuMiw3MS4yLDI1LjEsODJDMTEsOTIuOCwtMTEuNiw5My4zLC0yNyw4My42Qy00Mi40LDczLjksLTUwLjcsNTMuOSwtNTcuNiwzNi4xQy02NC41LDE4LjIsLTcwLDIuNSwtNjkuMSwtMTMuOEMtNjguMSwtMzAsLTYwLjcsLTQ2LjcsLTQ4LjEsLTU1LjNDLTM1LjUsLTYzLjksLTE3LjcsLTY0LjUsLTAuMiwtNjQuM0MxNy40LC02NC4xLDM0LjgsLTYzLjIsNTEuMSwtNTUuMloiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K
    );
   -webkit-mask-repeat: no-repeat;
    width: 100%;

    
    
}
.semaine_tag{
    color: #0b1bcf;
    position: left;
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;

}
.auto_swipe{
    width: 100%;
    height: auto;
    overflow:hidden ;
}
.slide{

} */
